@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'DM Sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.py-md {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.btn-open-project {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
  background-color: white !important;
}